html, body, textarea {
  height: 100%;
  width: 100%;
  font-size: 30px;
}


textarea {
  width: 90%;
  height: 80%;
  margin: 10px;
  padding: 10px;
  z-index: 10px;
  font-family: monospace;
}

textarea:focus {
    outline: none;
}

input[type=text]:textarea {
  vertical-align: top;
}

#send {
  height: 100px;
  width: 300px;
  margin: 10px;
  font-size: 100%;
}

#send {
  background-color: white;
    border: 5px solid black;
    font-family: futura;
    /*border: none;*/
    outline: none;
    color: black;
    text-decoration: none;
    margin: 10px;
    box-shadow: none;
    cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 487px) {
  #send {
    height: 50px;
    width: 150px;
    font-size: 60%}
}
