html, body {
  height: 100%;
  width: 100%;
  font-size: 30px;
}

@font-face {
    font-family: blackletter;
    src: url(governor.ttf);
}
body {
  background-color: #fcfcfc;
}

.title {
  font-family: blackletter;
  font-size: 70px;
  /*position: fixed;*/
  /*margin-left: 50px;*/
  margin-top: 30px;
  display: flex;
  justify-content: space-around;

}

.title {
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Safari */
    transform: rotate(3deg); /* Standard syntax */
}

#newtext {
  /*display: flex;*/
  /*flex-direction: row;
  flex-wrap: wrap;*/
  font-family: futura;
  font-weight: bold;
  margin-top: 60px;
  /*border: 1px solid black;*/
  width: 600px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center ;
  /*overflow:scroll;*/


}

.line {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.line2 {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
