html, body {
  height: 100%;
  width: 100%;
  font-size: 30px;
}

@font-face {
    font-family: circular;
    src: url(public/lineto-circular-pro-book.ttf);
}

#newtext {
  /*display: flex;*/
  /*flex-direction: row;
  flex-wrap: wrap;*/
  font-family: circular, sans-serif;

}
